h3{
    display: inline-block;
    padding-left: 10px;
    margin-left: 30px;  
 }
 h1{
    text-align: center;
 }
.circle{
    width: 150px;
    height: 150px;
    border-radius:50%;
    vertical-align: middle;
    display: table-cell;
    align:center;
    float: left;
    padding-left: 0px;
    margin-left: 300px;
}
.gitlab{
    width: 80px;
    height: 80px;
}
