.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button{
    width: 500px;
    margin-top: 10px;
  }

  md-list{
    margin-top: 20px;
    font-size: 20px;
  }