<form class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Name" [(ngModel)]="newEmployer.name" name="newEmployer.name"> 
    </md-form-field>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Age" [(ngModel)]="newEmployer.age" name="newEmployer.age">
    </md-form-field>
    <md-form-field class="example-full-width"> 
      <input mdInput placeholder="Profession" [(ngModel)]="newEmployer.profession" name="newEmployer.profession"> 
    </md-form-field>
</form>
  <button md-raised-button color="primary" (click)="addEmployer()">Add</button>
    <md-list>
      <h3 md-subheader>Employers</h3>
      <md-list-item *ngFor="let e of employers" #item>
        <md-icon md-list-icon>account_circle</md-icon>
        <h4 md-line>{{ e.name }}</h4>
        <p md-line> {{ e.age }} - {{ e.profession }} </p>
        <md-icon right (click)="removeEmployer(e)">close</md-icon>
      </md-list-item>
    </md-list>